<title><%= title %> | <%= page %></title>
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg?v=1.1">
<link rel="icon" type="image/png" href="/assets/images/favicon.png?v=1.1">