body {
    font-family: 'Montserrat', sans-serif;
}

#quote {
    background-image: url("/assets/images/light-bg-1.jpeg");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    height: 100vh;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    padding-top: 150px;
}

.main {
    margin-top: 75px;
}

.item {
    margin: 25px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Bebas Neue', sans-serif;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 4px;
    font-size: .9em;
    background-color: rgba(255, 255, 255, 0.0) !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar-brand img {
    width: 175px;
}

.navbar-brand:hover {
    opacity: 0.5;
}

.navbar-nav li a:hover {
    opacity: 0.6;
}

.navbar-nav  li a:hover {
    color: #7090A5 !important;
}

.active>a {
    color: #7090A5 !important;
    font-weight: bold;
}

#quote div {
    margin: 0 5%;
}

#new-quote {
    margin-top: 150px;
    background-color: #7090A5;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFF;
    opacity: 0.4;
}

.page-link, .page-link:hover {
    color: #7090A5;
}

.page-link {
    user-select: none;
}

.page-item.active .page-link {
    background-color: #7090A5 !important;
    color: #FFFFFF !important;
    border-color: #7090A5;
}

#new-quote:hover {
    opacity: 1.0;
    transition: all .4s;
}

.card {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

.card-header .btn-outline-success {
    color: #7090A5;
    border-color: #7090A5;
    outline-color: #7090A5;
    background-color: #FFFFFF;
}

.card-header .btn-outline-success:hover {
    color: #FFF;
    background-color: #7090A5;
}

.card-header .btn-outline-success:focus {
    box-shadow: none;
}

.page-link:hover {
    cursor: pointer;
}

.page-link:focus {
    color: #7090A5;
    box-shadow: none;
}

button {
    user-select: none   ;
}